<h1>Packages</h1>
<div class="package-grid">
  <h2>robotic.js</h2>
  <div class="package-grid">
    <ul>
      <li><p>installation link - npm i robotic.js</p></li>
      <li>
        <p>
          npm package info :
          <a href="https://www.npmjs.com/package/robotic.js" target="_blank"
            >https://www.npmjs.com/package/robotic.js</a
          >
        </p>
      </li>
    </ul>
  </div>

  <h2>roboticdb</h2>
  <div class="package-grid">
    <ul>
      <li><p>installation link - npm i roboticdb</p></li>
      <li>
        <p>
          npm package info :
          <a href="https://www.npmjs.com/package/roboticdb" target="_blank"
            >https://www.npmjs.com/package/roboticdb</a
          >
        </p>
      </li>
    </ul>
  </div>

  <h2>robotic-authenticator</h2>
  <div class="package-grid">
    <ul>
      <li><p>installation link - npm i robotic-authenticator</p></li>
      <li>
        <p>
          npm package info :
          <a
            href="https://www.npmjs.com/package/robotic-authenticator"
            target="_blank"
            >https://www.npmjs.com/package/robotic-authenticator</a
          >
        </p>
      </li>
    </ul>
  </div>

  <h2>robotic-env-reader</h2>
  <div class="package-grid">
    <ul>
      <li><p>installation link - npm i robotic-env-reader</p></li>
      <li>
        <p>
          npm package info :
          <a
            href="https://www.npmjs.com/package/robotic-env-reader"
            target="_blank"
            >https://www.npmjs.com/package/robotic-env-reader</a
          >
        </p>
      </li>
    </ul>
  </div>

  <h2>robotic-creater</h2>
  <div class="package-grid">
    <ul>
      <li><p>installation link - npm i robotic-creater</p></li>
      <li>
        <p>
          npm package info :
          <a
            href="https://www.npmjs.com/package/robotic-creater"
            target="_blank"
            >https://www.npmjs.com/package/robotic-creater</a
          >
        </p>
      </li>
    </ul>
  </div>
</div>
