<div class="forgetPassword-container">
  <div class="message-card">
    <p-messages
      [value]="msg"
      [closable]="true"
      [enableService]="false"
    ></p-messages>
  </div>

  <h3>
    ROBOTIC DATABASE 1 (https://75d49590.databases.neo4j.io/): {{ RoboticDB1 }}
  </h3>
  <h3>ROBOTIC DATABASE 2 (https://081cb2b7.databases.neo4j.io/): {{ RoboticDB2 }}</h3>

  <form class="forgetPassword-container-form" [formGroup]="myForm">
    <div class="forgetPassword-container-form-top">
      <h1>Set Status</h1>
    </div>

    <div class="forgetPassword-container-form-input">
      <label>Status</label>
      <select formControlName="userType">
        <option *ngFor="let option of options" [value]="option">
          {{ option }}
        </option>
      </select>
    </div>

    <div class="forgetPassword-container-form-button">
      <button
        pButton
        pRipple
        label="Set"
        class="p-button-success"
        icon="pi pi-send"
        (click)="submitForm()"
      ></button>
    </div>
  </form>
</div>
