<div class="About-main">
  <h1>About</h1>

  <div class="About-grid">
    <p>
      As a software developer, I specialize in creating and maintaining software
      applications and systems for a variety of industries. With a deep
      understanding of programming languages, software development
      methodologies, and technical problem-solving, I am skilled in designing,
      implementing, and testing software solutions that meet the needs of
      businesses and organization's. My expertise in software development
      includes proficiency in languages such as HTML, CSS, Nest Js, angular,
      React Native, json, and JavaScript, as well as experience with popular
      development tools such as Git, and Visual Studio Code. I am also
      knowledgeable in various software development with AWS (Amazon Web
      Services), Vercel, GitHub pages.
    </p>

    <div class="About-grid-sec">
      <h3>Language Proficiency</h3>
      <ul>
        @for(skill of skills; track skill) {
        <li>{{ skill }}</li>
        }
      </ul>

      <h3>Framework Proficiency</h3>
      <ul>
        @for(skill of backendSkills; track skill) {
        <li>{{ skill }}</li>
        }
      </ul>
      <h3>Npm Packages</h3>
      <ul>
        @for(skill of roboticSkills; track skill) {
        <li>{{ skill }}</li>
        }
      </ul>
    </div>
  </div>
</div>
