.About-grid {
  width: 100%;
  height: fit-content;
  border: dotted #000 1px;
  padding: 1%;
  background-color: #e7b475;
  color: #000;
}

.About-grid:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-7px);
  transition: box-shadow 0.3s, transform 0.3s;
}
