.service-container-list-div {
  border: dotted #000 1px;
  padding: 1%;
  overflow: auto;
  background-color: #fbc986;
}

.service-container {
  color: #6e4538;
}

.service-container-list-div:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-7px);
  transition: box-shadow 0.3s, transform 0.3s;
}

.service-container-list-div {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: transparent;
  border: 1px dotted #000;
  border-radius: 8px;
  width: 95vw;
  margin: 0 auto;
  margin-top: 1%;
  background-color: #fff;
}

.service-container-list-div h2 {
  color: #6e4538;
  text-align: center;
  margin-bottom: 20px;
}

.service-container-list-div ul {
  list-style-type: none;
  padding-left: 0;
}

.service-container-list-div > ul > li {
  margin-bottom: 15px;
  font-weight: bold;
}

.service-container-list-div li ul {
  margin-top: 5px;
  margin-left: 20px;
  font-weight: normal;
}

.service-container-list-div a {
  color: #0066cc;
  text-decoration: none;
}

.service-container-list-div a:hover {
  text-decoration: underline;
}
