<div class="service-container">
  <h1>Project</h1>
  <div class="service-container-list">
    <h3>Project With Framework</h3>
    <ul>
      <li>
        Goalplanner
        <ul>
          <li>
            follow this link for visit :
            <a href="https://goalplanner.vercel.app/login"
              >https://goalplanner.vercel.app/login</a
            >
          </li>
        </ul>
      </li>
      <li>
        Postal-dashboard
        <ul>
          <li>
            follow this link for visit :
            <a href="https://postal-dashboard.vercel.app/"
              >https://postal-dashboard.vercel.app/</a
            >
          </li>
        </ul>
      </li>
      <li>
        Robotic.js dashboard
        <ul>
          <li>
            follow this link for visit :
            <a href="https://dashboard-omega-kohl.vercel.app/"
              >https://dashboard-omega-kohl.vercel.app/</a
            >
          </li>
        </ul>
      </li>
    </ul>

    <h3>Static Web Pages</h3>
    <ul>
      <li>
        tic-toc-toe game
        <ul>
          <li>
            follow this link for watch :
            <a href="https://bhandekunal16.github.io/game/"
              >https://bhandekunal16.github.io/game/</a
            >
          </li>
        </ul>
      </li>
      <li>
        HTML Practice tool
        <ul>
          <li>
            follow this link for watch :
            <a href="https://bhandekunal16.github.io/online-html-creator/"
              >https://bhandekunal16.github.io/online-html-creator/</a
            >
          </li>
        </ul>
      </li>
      <li>
        cube finder
        <ul>
          <li>
            follow this link for watch :
            <a href="https://bhandekunal16.github.io/cube-finder/"
              >https://bhandekunal16.github.io/cube-finder/</a
            >
          </li>
        </ul>
      </li>
      <li>
        square root finder
        <ul>
          <li>
            follow this link for watch :
            <a href="https://bhandekunal16.github.io/squre-root-finder/"
              >https://bhandekunal16.github.io/squre-root-finder/</a
            >
          </li>
        </ul>
      </li>
      <li>
        time
        <ul>
          <li>
            follow this link for watch :
            <a href="https://bhandekunal16.github.io/time/"
              >https://bhandekunal16.github.io/time/</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
