<div class="service-container">
  <h1>Project</h1>
  <div class="service-container-list">
    <h3>Project With Framework</h3>
    <ul>
      <li>
        Goalplanner
        <ul>
          <li>
            follow this link for visit :
            <a href="https://goalplanner.vercel.app/login"
              >https://goalplanner.vercel.app/login</a
            >
          </li>
        </ul>
      </li>
      <li>
        Postal-dashboard
        <ul>
          <li>
            follow this link for visit :
            <a href="https://postal-dashboard.vercel.app/"
              >https://postal-dashboard.vercel.app/</a
            >
          </li>
        </ul>
      </li>
      <li>
        Robotic.js dashboard
        <ul>
          <li>
            follow this link for visit :
            <a href="https://dashboard-omega-kohl.vercel.app/"
              >https://dashboard-omega-kohl.vercel.app/</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
