<div class="service-container">
  <h1>Project</h1>
  <div class="service-container-list">
    <div class="service-container-list-div">
      <h3>Project With Framework</h3>
      <ul>
        <li>
          Goal planner
          <ul>
            <li>
              follow this link for visit :
              <a href="https://goalplanner.vercel.app/login" target="_blank"
                >https://goalplanner.vercel.app/login</a
              >
            </li>
          </ul>
        </li>
        <li>
          Postal-dashboard
          <ul>
            <li>
              follow this link for visit :
              <a href="https://postal-dashboard.vercel.app/" target="_blank"
                >https://postal-dashboard.vercel.app/</a
              >
            </li>
          </ul>
        </li>
        <li>
          Robotic.js dashboard
          <ul>
            <li>
              follow this link for visit :
              <a href="https://dashboard-omega-kohl.vercel.app/" target="_blank"
                >https://dashboard-omega-kohl.vercel.app/</a
              >
            </li>
          </ul>
        </li>
        <li>
          Ip Logger
          <ul>
            <li>
              follow this link for visit :
              <a href="https://deviceprobe-client.vercel.app/" target="_blank"
                >https://deviceprobe-client.vercel.app/</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="service-container-list-div">
      <h3>Static Web Pages</h3>
      <ul>
        <li>
          tic-toc-toe game
          <ul>
            <li>
              follow this link for watch :
              <a href="https://bhandekunal16.github.io/game/" target="_blank"
                >https://bhandekunal16.github.io/game/</a
              >
            </li>
          </ul>
        </li>
        <li>
          HTML Practice tool
          <ul>
            <li>
              follow this link for watch :
              <a
                href="https://bhandekunal16.github.io/online-html-creator/"
                target="_blank"
                >https://bhandekunal16.github.io/online-html-creator/</a
              >
            </li>
          </ul>
        </li>
        <li>
          cube finder
          <ul>
            <li>
              follow this link for watch :
              <a
                href="https://bhandekunal16.github.io/cube-finder/"
                target="_blank"
                >https://bhandekunal16.github.io/cube-finder/</a
              >
            </li>
          </ul>
        </li>
        <li>
          square root finder
          <ul>
            <li>
              follow this link for watch :
              <a
                href="https://bhandekunal16.github.io/squre-root-finder/"
                target="_blank"
                >https://bhandekunal16.github.io/squre-root-finder/</a
              >
            </li>
          </ul>
        </li>
        <li>
          time
          <ul>
            <li>
              follow this link for watch :
              <a href="https://bhandekunal16.github.io/time/" target="_blank"
                >https://bhandekunal16.github.io/time/</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="service-container-list-div">
      <h3>Free Api Documentation</h3>
      <ul>
        <li>
          Create OTP
          <ul>
            <li>
              Api URL :
              <a
                href="https://townhall-ten.vercel.app/create/otp"
                target="_blank"
                >https://townhall-ten.vercel.app/create/otp</a
              >
            </li>
            <li>Req type : Get</li>
          </ul>
        </li>
        <li>
          Create UUID
          <ul>
            <li>
              Api URL :
              <a
                href="https://townhall-ten.vercel.app/create/uuid"
                target="_blank"
                >https://townhall-ten.vercel.app/create/uuid</a
              >
            </li>
            <li>Req type : Get</li>
          </ul>
        </li>

        <li>
          Find bank data with IFSC code
          <ul>
            <li>
              Api URL :
              <a href="https://townhall-ten.vercel.app/ifsc" target="_blank"
                >https://townhall-ten.vercel.app/ifsc</a
              >
            </li>
            <li>Req type : Post</li>
            <li>payload : ifsc</li>
          </ul>
        </li>

        <li>
          Find address with pincode
          <ul>
            <li>
              Api URL :
              <a href="https://townhall-ten.vercel.app/pincode" target="_blank"
                >https://townhall-ten.vercel.app/pincode</a
              >
            </li>
            <li>Req type : Post</li>
            <li>payload : pinCode</li>
          </ul>
        </li>

        <li>
          npm lab information getter
          <ul>
            <li>
              Api URL :
              <a href="https://townhall-ten.vercel.app/info" target="_blank"
                >https://townhall-ten.vercel.app/info</a
              >
            </li>
            <li>Req type : Post</li>
            <li>payload : name</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
