<h1>{{ name }}</h1>
<form class="contact-container-form" [formGroup]="myForm">
  <label for="PackageName">Package Name</label>
  <input  id="PackageName" name="Package Name" formControlName="PackageName" (input)="call()"/>
</form>

<div class="Package-information">
  <div *ngIf="date.length == 0" class="loader"></div>
  <p>Package Information</p>
  <p>Created on : {{ createdOn }}</p>
  <p>Modified on : {{ modifiedOn }}</p>
  <p>Author : {{ author }}</p>
  <p>description : {{ description }}</p>
  <p>maintainers : {{ maintainers }}</p>
  <p>license : {{ license }}</p>
</div>

<div class="loader-container" *ngIf="date.length == 0">
  <div *ngIf="date.length == 0" class="loader"></div>
</div>

<h1>Uploaded on</h1>
<div class="Package-information-date">
  <div *ngFor="let item of date">
    <p>{{ item.key }} : {{ formatDate(item.value) }}</p>
  </div>
</div>

<div>
  <div class="loader-container" *ngIf="data.length == 0">
    <div *ngIf="data.length == 0" class="loader"></div>
  </div>
  <div *ngFor="let item of data" class="Package-information">
    <p>{{ item?.key }}</p>
    <p>{{ item?.value?.name }}</p>
    <p>Node Version {{ item?.value?._nodeVersion }}</p>
    <p>Npm version {{ item?.value?._npmVersion }}</p>
    <p>file Count {{ item?.value?.dist?.fileCount}}</p>
    <p>unpacked Size {{ item?.value?.dist?.unpackedSize / 1024 }} KB</p>
  </div>
</div>
