<div class="card">
  <p-menubar [model]="item" />
</div>
<div class="dashboard-Img">
  <h1>Welcome to My Portfolio</h1>
</div>

<div class="dashboard-container">
  <p>
    Welcome to my portfolio! Here, you'll find a curated selection of my most
    impactful work, showcasing the creativity, precision, and dedication that
    define my approach. Each image represents a unique project, highlighting my
    journey through various challenges and triumphs. Take a moment to explore
    and discover the visual narrative that shapes my professional story.
  </p>
</div>
