<div class="dashboard-Img">
  <div class="dashboard-Img-label">
    <h1>Welcome to My Portfolio</h1>

    <div class="dashboard-Img-label-button">
      <p-button
        label="About"
        [text]="true"
        severity="secondary"
        icon="pi pi-user"
        (click)="About()"
      />
    </div>
  </div>
</div>

<div class="dashboard-container">
  <p>
    Welcome to my portfolio! Here, you'll find a curated selection of my most
    impactful work, showcasing the creativity, precision, and dedication that
    define my approach. Each image represents a unique project, highlighting my
    journey through various challenges and triumphs. Take a moment to explore
    and discover the visual narrative that shapes my professional story.
  </p>

  <h3>Personal Information</h3>
  <ul>
    <li>Name : Kunal Eknath Bhande</li>
    <li>Email : bhandekunal16&#64;gmail.com</li>
    <li>Contact: 8779143048</li>
  </ul>

  <h3>Work Experience</h3>
  <ul>
    <li>
      Software Developer At network people service technology
      <ul>
        <li>from : 3 Nov 2022</li>
        <li>to : present</li>
      </ul>
    </li>
  </ul>
</div>
