.dashboard-container {
  width: 98vw;
  height: 85vh;
  margin-top: 1%;
  border: dotted #000 1px;
}

.dashboard-Img {
  width: 98vw;
  height: 85vh;
  margin-top: 1%;
  background-image: url("../../assets/716762667674636d6c71.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard-Img-label {
  display: flex;
  flex-direction: column;
  padding: 1%;
}

.dashboard-Img-label h1 {
  margin: 0;
  text-align: center;
  color: #fff;
  height: fit-content;
}

.dashboard-Img-label-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding: 1%;
}

.dashboard-container p {
  margin-left: 1%;
}

.dashboard-container h3 {
  margin-left: 1%;
}

.dashboard-container-button {
  display: flex;
  justify-content: space-evenly;
  width: 20vw;
}

.dashboard-container-button-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

#div3 {
  width: 50%;
  height: fit-content;
  background-color: transparent;
  font-weight: bold;
  position: relative;
  animation: myMove 5s;
  animation-fill-mode: forwards;
  border: dotted #000 1px;
  padding: 1%;
}

#div3 {
  animation-timing-function: ease-in;
}

@keyframes myMove {
  from {
    left: 0px;
  }
  to {
    left: 20vw;
  }
}

@media (max-width: 600px) {
  .dashboard-container {
    width: 97vw;
  }

  .dashboard-Img {
    width: 97vw;
  }

  .dashboard-container-button {
    margin-top: 1%;
    width: 60vw;
  }
}

@media (max-width: 900px) {
  .dashboard-container {
    width: 97vw;
  }

  .dashboard-Img {
    width: 97vw;
  }
}

.dashboard-container:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-7px);
  transition: box-shadow 0.3s, transform 0.3s;
}
