<div class="dashboard-Img">
  <div class="dashboard-Img-label">
    <h1>Welcome to My Portfolio</h1>
    <p>
      Status: <strong>{{ status }}</strong>
    </p>

    <div class="dashboard-Img-label-button">
      <p-button
        label="About"
        [text]="true"
        icon="pi pi-user"
        (click)="About()"
        [plain]="true"
      />
    </div>
  </div>
</div>

<div class="dashboard-container">
  <p>
    Welcome to my portfolio! Here, you'll find a curated selection of my most
    impactful work, showcasing the creativity, precision, and dedication that
    define my approach. Each image represents a unique project, highlighting my
    journey through various challenges and triumphs. Take a moment to explore
    and discover the visual narrative that shapes my professional story.
  </p>

  <h3>Personal Information</h3>
  <ul>
    <li>Name: {{ personalInfo.name }}</li>
    <li>Email: {{ personalInfo.email }}</li>
    <li>Contact: {{ personalInfo.contact }}</li>
  </ul>

  <h3>Work Experience</h3>

  <ul>
    @for (info of information; track info) {
    <li>
      {{ info.name }}
      <ul>
        <li>{{ info.from }}</li>
        <li>{{ info.to }}</li>
      </ul>
    </li>
    }
  </ul>

  <div>
    <p>Click the tabs below to follow me on various platforms:</p>
    <div class="dashboard-container-button-main">
      <div class="dashboard-container-button">
        <a
          href="https://github.com/Bhandekunal16"
          target="_blank"
          rel="noopener noreferrer"
          ><p-button severity="secondary" icon="pi pi-github"
        /></a>

        <a
          href="https://www.npmjs.com/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <p-button severity="secondary" icon="pi pi-ellipsis-v" />
        </a>

        <a
          href="https://www.linkedin.com/in/kunal-bhande-2a0582271?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
          target="_blank"
          rel="noopener noreferrer"
        >
          <p-button severity="secondary" icon="pi pi-linkedin" />
        </a>
      </div>
    </div>
  </div>
</div>
